<div style="background-color: #499bea; height: 100px">
    <% include partials/header.ejs%>
</div>

<div class="colorlib-blog"; style="margin-top: -50px">
    <div class="container">

        <div style="text-align: center;">
            <h1>e-CELL</h1>
            <img src="/images/club_logo/ecell.jpg" style=" width: 400px; height: 400px"">
        </div>
        <div class="content" style="margin-top: 50px">
            <ul>
                <li>
                    We support the idea of student-led entrepreneurship in the institute. We incite and encourage
                    them to take up entrepreneurial challenges, and assist them in their endeavours to launch and
                    run business ventures. The events conducted by us focus on creating awareness on
                    entrepreneurship, encouraging technology incubation which are culminated by holding an
                    annual event ENDEAVOUR, an Entrepreneurial Fest to provide a platform to students of
                    different colleges to interact and compete with each other.
                </li>
            </ul>



        </div>
    </div>
</div>




<% include partials/footer.ejs%>
