<div style="background-color: #499bea; height: 100px">
    <% include partials/header.ejs%>
</div>

<div class="colorlib-blog"; style="margin-top: -50px">
    <div class="container">

            <div style="text-align: center">
                <h1>FC KIET</h1>
                <img src="/images/club_logo/fc.jpg">
            </div>
        <div class="content" style="margin-top: 50px">
            <ul>
                <li>
                    The mission of the Football Club KIET (FC KIET) is to develop high quality
                    soccer players, teams, coaches, and parents with a specific emphasis on the
                    physical, technical, tactical, psychological, and social elements of the game
                    while participating at the highest levels locally and regionally levels.
                </li>
                <li>
                    Develop a club and club culture that strives for excellence both on and off the
                    field.
                </li>

                <li>
                    Develop players who have high-level skills, equitable to their ability.
                </li>
                <li>
                    Develop teams who desire to perform at the highest level and do what is best
                    for the team as opposed to the individual.
                </li>

                <li>
                    Educate players about what true excellence is through on field training,
                    education and other learning opportunities.
                </li>

                <ul>
                    Train players:
                    <li>To develop as team and individual players through training sessions
                        and in-game coaching.</li>
                    <li>To understand the demands and the necessary dedication required to
                        be highly successful.</li>
                </ul>

                <li>
                    Educate players through player meetings about what being a team truly
                    means.
                </li>
            </ul>

            <div style="margin-top: 20px">
                <h1 style="text-align: center">Achievement</h1>

                <ol>
                    <li>
                        IIT Jodhpur(1st Runner Up)
                    </li>
                    <li>
                        Invertis University(Winner)
                    </li>
                    <li>
                        Rann’17(Winner)
                    </li>
                    <li>
                        AKTU Zonal’18(Winner)
                    </li>
                    <li>
                        AKTU State Level(1st Runner Up)
                    </li>
                    <li>
                        Rann’18(1st Runner Up)
                    </li>
                    <li>
                        AKTU Zonal’19(2nd Runner Up)
                    </li>
                    <li>
                        IIM Kashipur(1st Runner up)
                    </li>
                    <li>
                        Rann’19(1st Runner Up)
                    </li>
                </ol>
            </div>

        </div>
    </div>


  <%if (link[0]) { %>
  <ul>
    <li>
      <a href="<%= link[0].link%>">Fill Form</a>
    </li>
  </ul>
  <% } %>

</div>



<% include partials/footer.ejs%>
