<div style="background-color: #499bea; height: 100px">
    <% include partials/header.ejs%>
</div>

<div class="colorlib-blog"; style="margin-top: -50px">
    <div class="container">

        <div style="text-align: center">
            <h1>INNOGEEKS</h1>
            <img src="/images/club_logo/geeks.jpg">
        </div>
        <div class="content" style="margin-top: 50px">

            Innogeeks is the technical society of K.I.E.T Group of Institutions, which is an entire student-run
            body, mentored by Dr. Pramod Nath. It aims to foster the technical culture among students of
            our college of vivid domains and imagination. Our club is a domain-oriented  club and it imparts
            knowledge in the following domains:


            <div style="margin-top: 20px">

                <ul>
                    <li>
                        Web  Development
                    </li>
                    <li>
                        Android Development
                    </li>
                    <li>
                        Augmented Reality
                    </li>
                    <li>
                        Media and Animation
                    </li>
                    <li>
                        Machine Learning
                    </li>
                    <li>
                        iOS
                    </li>
                    <li>
                        Internet of Things
                    </li>

                </ul>
            </div>

            There are no traditional teaching and learning classes for the members. The classes are
            conducted by the coordinator, that are students itself, for the students only.

        </div>
    </div>
</div>



<% include partials/footer.ejs%>
