<div style="background-color: #499bea; height: 100px">
    <% include partials/header.ejs%>
</div>

<div class="colorlib-blog"; style="margin-top: -50px">
    <div class="container">

        <div style="text-align: center">
            <h1>KOMMOTION</h1>
            <img src="/images/club_logo/kommotion.jpg">
        </div>
        <div class="content" style="margin-top: 50px">
            <p>
                We&#39;re here to introduce you all to oldest dance society of our college KOMMOTION. This
                society was started by Mr. Manu Kwatra who now owns his 3 dance studios in Rishikesh,
                Haridwar and Dehradun. We&#39;re fortune enough to be a part of the group which not only
                focuses on its winning but also its defeats. We all are here to grow and learn something new
                every day.Kommotion was the winner of epoque  2k16,2k17,prastuti 2k18.   Kommotion has
                participated in IIT-D, iit Kharagpur,srm,sharda  zonals one of the popper of our group was
                runner up in footloose in IIT-D,it will take a while if we&#39;ll take names of all the events we&#39;ve
                participated in cause kommotion has always believed in never leaving an opportunity of
                learning and growing.
            </p>

            <p>
                Kommotion not only works in group but also encourages the individual growth. Every dance
                form is polished. We are standing here representing before you but there was a time when we
                even hesitated to step ahead on tunes. Thanks to our seniors who brought us up from zero to
                where we are. Let&#39;s show you how our group members have grown in their own dance forms
                and also learnt beyond their comfort zone.

            </p>

            <p>
                Come give your confidence a fly, some dreams to your feet.
            </p>


            <div style="margin-top: 20px">

            </div>

        </div>
    </div>
  <%if (link[0]) { %>
  <ul>
    <li>
      <a href="<%= link[0].link%>">Fill Form</a>
    </li>
  </ul>
  <% } %>
</div>



<% include partials/footer.ejs%>
