<div style="background-color: #499bea; height: 100px">
    <% include partials/header.ejs%>
</div>

<div class="colorlib-blog"; style="margin-top: -50px">
    <div class="container">

        <div style="text-align: center">
            <h1>PHOENIX</h1>
            <img src="/images/club_logo/phoenix.jpg" style="height: 400px; width: 400px">
        </div>
        <div class="content" style="margin-top: 50px">
            <ul>
                <li>
                    Phoenix Dance Crew was created in 2015, which initially consists of 25 members.It
                    provides a great platform for the Young budding talents to nurture and grow under the
                    guidance of our very helping seniors.
                </li>
            </ul>

            <ul>
                <li>
                    It’s not just a platform to grow in terms of dancing skills but also helps in the overall
                    personality development as it helps to be punctual, build leadership qualities, building
                    self confidence and makes us grow as a team cum family.
                </li>
            </ul>

            <ul>
                <li>
                    For Video - <a href="https://www.youtube.com/watch?v=MgJ_513xW08&amp;feature=youtu.be">Click Here</a>
                </li>
            </ul>



            <div style="margin-top: 20px">
                <h1 style="text-align: center">Achievement</h1>


                <table id="customers">
                    <tr>
                        <th>Sr.</th>
                        <th>Achievements</th>
                        <th>Position</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>MTv Colors of Youth</td>
                        <td>1st</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>IIT-Roorkee</td>
                        <td>1st</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>SUNDERDEEP 2016</td>
                        <td>1st</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>GL BAJAJ</td>
                        <td>1st</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>EPOQUE 2018,2017,2016</td>
                        <td>1st, 2nd, 3rd</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>IMS MANAGEMENT</td>
                        <td>2nd</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>ABES 2016,2017</td>
                        <td>2nd, 3rd</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>PRASTUTI 2017,2018</td>
                        <td>3rd, 3rd</td>
                    </tr>
                </table>



            </div>

        </div>
    </div>
</div>



<% include partials/footer.ejs%>

<style>
    table, td, th {
        /*border: 1px solid black;*/
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        text-align: left;
    }
</style>