<div style="background-color: #499bea; height: 100px">
    <% include partials/header.ejs%>
</div>

<div class="colorlib-blog"; style="margin-top: -50px">
    <div class="container">

        <div style="text-align: center;">
            <h1>UDDESHHYA</h1>
            <img src="/images/club_logo/uddeshya.jpg" style=" width: 600px; height: 400px"">
        </div>
        <div class="content" style="margin-top: 50px">
            <p>
                A voluntary philanthropic society came into existence to help the destitute of our society. It has
                attained the status of an NGO recently.
            </p>
            <p>
                Our vision is to make everyone able to lead their life with dignity and all our efforts revolve
                around the motive to make the world a better place with a pinch of empathy and humanity.
                Presently the team has its undergoing projects viz UDAY (the Evening and the Slum School).
                UMANG (village school adoption), UMEED (night school for mess worker), UJAGAR (social
                awareness program) and a BLOOD PORTAL(link donor to needy).
            </p>

            <p>
                The team contributed with Cloth Collection drive at various cities and Stationery Collection
                Drive for the skin dwellers. It is a sincere effort to leave an everlasting impact of values and
                familiarity with the welfare of society in the MIME and NUKKAD NATAK as an annual event for
                the kids
            </p>
            <p>
                The team along with its volunteers arranges activities to shape personalities and ensure social
                well.
            </p>

        </div>
    </div>
</div>




<% include partials/footer.ejs%>
