<% include ../partials/header.ejs %>
<div class="wrapper">
    <% include ../partials/navigation.ejs %>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Admin Portal Access</h3>
            </div>
            <% if(msg){ %>
            <% if(status === true){ %>
            <div class="alert alert-success col-md-6 col-md-offset-3">
                <%}%>
                            <% if(status === false){ %>
                <div class="alert alert-danger col-md-6 col-md-offset-3">
                    <%}%>
                                <p><%= msg%></p>
                </div>
                <%}%>
            <!-- /.box-header -->
            <!-- form start -->
              <form action="/admin/adduser" method="POST" class="form-horizontal">
                <div class="box-body col-md-6">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">User Email</label>
                    <div class="col-sm-9">
                      <input type="email" name="user_email" class="form-control" id="inputEmail3"
                             placeholder="Club Lead Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">User Name</label>
                    <div class="col-sm-9">
                      <input type="text" name="username" class="form-control" id="inputEmail3"
                             placeholder="User Name">
                    </div>
                    <!-- /.input group -->
                  </div>
                </div>

                <div class="box-body col-sm-6">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">College ID</label>
                    <div class="col-sm-9">
                      <input type="text" name="college_id" class="form-control" id="inputEmail3"
                             placeholder="College Id">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">Club Name</label>

                    <div class="col-sm-9">
                      <input type="text" name="club_name" class="form-control" id="inputPassword3"
                             placeholder="Club Name">
                    </div>

                  </div>
                </div>

                <div class="box-body col-sm-6">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Branch</label>
                    <div class="col-sm-9">
                      <input type="text" name="branch" class="form-control" id="inputEmail3"
                             placeholder="Student Branch">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Year</label>
                    <div class="col-sm-9">
                      <input type="number" name="year" class="form-control" id="inputEmail3"
                             placeholder="Student Year">
                    </div>
                  </div>
                </div>

                <div class="box-body col-sm-6">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Set Password</label>
                    <div class="col-sm-9">
                      <input type="password" name="password_hash" class="form-control" id="inputEmail3"
                             placeholder="user passsword">
                    </div>
                  </div>
                </div>

                <!-- /.box-body -->
                <div class="box-footer">
                  <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
                  <button type="submit" class="btn btn-info col-md-offset-6 ">Submit</button>
                </div>
                <!-- /.box-footer -->
              </form>
            </div>
        </div>
    </section>

    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2018-2019 <a>KIET Club Management Auth</a>.</strong> All rights
    reserved.
</footer>
<% include ../partials/footer.ejs%>
